@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/src/assets/fonts/IBMPlexMono-Bold.ttf') format('truetype'),
}
@font-face {
  font-family: 'IBM Plex Mono Bold Italic';
  src: url('/src/assets/fonts/IBMPlexMono-BoldItalic.ttf') format('truetype'),
}
  
body {
  font-family: 'IBM Plex Mono';
}

.text-italic {
  font-family: 'IBM Plex Mono Bold Italic';
}